PORT = 4000
DATABASE_URL = "mongodb+srv:FileUploadDB"
CLOUD_NAME = 
API_KEY = 
API_SECRET = 


MAIL_HOST = smtp.gmail.com
MAIL_USER = *email ID*
MAIL_PASS =

to make pass go to GMAIL 
account > Sequrity > 2 step verification (TURN ON) > at bottom (APP PASSWORD) > Create one with a name